


<style>
    .social-icons {
      display: flex;
      justify-content: center;
      margin-top: 10%;
    }
    .social-icons a {
      display: inline-block;
      margin: 0 10px;
      font-size: 24px;
    }

.img-1{
    height:200px;
    align-items: center;
    margin-left: 33%;
}

  </style><div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3">
            <mat-card class="mx-auto">
                <h3 class="text-center">{{ heading }}</h3>
                <mat-card-content>
                    <form [formGroup]="postForm" enctype="multipart/form-data"
                        (submit)="submit(postForm.value,'submit')">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Title" formControlName="postTitle" name="postTitle"
                                required>
                            <mat-error *ngIf="postForm.controls['postTitle'].invalid">Required Field</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="Content Goes Here" formControlName="postContent"
                                name="postContent" rows="12" required></textarea>
                            <mat-error *ngIf="postForm.controls['postContent'].invalid">Required Field</mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="mt-2 mr-2">{{ heading }}</button>
                        <button type="button" *ngIf="heading == 'Create New Post'" mat-raised-button class="mr-2"
                            color="accent" (click)="submit(postForm.value,'draft')">Save as draft</button>
                        <button type="button" mat-raised-button color="warn">Cancel</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 py-3">
            <mat-card>
                <h3 class="text-center font-weight-bold">Post Image</h3>
                <img class="img-1" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Image description">

                <div *ngIf="postService.imageUrl; else showText">
                    <img class="img-2" mat-card-image src="{{ postService.imageUrl }}" alt="image" class="mt-1">
                </div>
                <mat-card-actions class="text-center">
                    <input type="file" hidden id="upload" name="postImage" (change)="fileChange($event)">
                    <button type="button" mat-raised-button color="{{ fileUploadColor }}" class="mb-3"
                        (click)="uploadFile()">{{ uploadFileText }}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <footer>
        <div class="social-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </footer>
      
</div>
<ng-template #showText>
    <h3 class="text-center py-4">No Image selected. Select an image for post</h3>
</ng-template>