<main-carousal></main-carousal>
<div class="first-main-box">
    <div class="row">
        <div class="col-md-8">
    <h1>Publish your passion, your way</h1>
    <p>If you're passionate about something, whether it's cooking, fashion, travel, or anything else, starting a blog can be a great way to share your thoughts, experiences, and expertise with the world. And the best part is, it's never been easier or more affordable to start your own blog. With the availability of free blogging platforms, you can start your own blog in just a few minutes, and without spending a single penny</p>
    <h3>Create a unique blog. Its easy and free</h3>
        </div>
        <div class="col-md-4">
            <img src="https://jobs.washingtonpost.com/getasset/e05851ee-b053-419e-a4da-9fb70e6c9e29/" height="250" width="400">
        </div>
    </div>
</div>
    <div class="fourth-main-box" id="a">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="s1">
    <div><img src="https://media.istockphoto.com/id/1013435204/photo/businessman-filling-online-registration-form.jpg?s=612x612&w=0&k=20&c=OqVxHQngPfPHNV9baIcqChpiL7Iv5G86bK5Pg0urbTc=" height="100%" width="100%" style="margin-top: 8px;"></div>    
    <a routerLink="/signup">
        <button type="button" class="main-signup-button" >Sign Up</button>
    </a>
    <a routerLink="/login">
        <button type="button" class="main-login-button">Login</button>
    </a>
</div>
<div class="col-sm-2"></div>
</div>

</div>
<div class="second-main-box">
    <h1>Its easy to use that it's hard to explain</h1>
    <div class="second-main-text mt-4">
        <h4>We made it really, really simple for people to make the blog and put whatever
            they want to.
            Stories, photos, links, dumb jokes, smart jokes etc. Blogging blogs is 500 million different
            blogs, filled with literally whatever
        </h4>
    </div>
</div>
<div class="third-main-box">
    <h1>Seriously, put anything you want here</h1>
    <div class="third-main-text mt-4">
        <h4 >Many post type to get started. Your brain can do the rest. This thing is
            yours. Use it however you like</h4>

            
    </div>
    <footer>
        <div class="social-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </footer>
</div>